<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Client</th>
                <th scope="col">CI</th>
                <th scope="col">Email</th>
                <th scope="col">Birthdate</th>
                <th scope="col">Date of Creation</th>
            </tr>
        </thead>
        <tbody>
            {{#each clients}}
            <tr>
                <td scope="row">{{firstName}} {{lastName}}</td>
                <td>{{ci}}</td>
                <td>{{email}}</td>
                <td>{{birthDate}}</td>
                <td>{{date}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>