<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">descripcion</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            {{#each service}}
            <tr>
                <td scope="row">{{name}}</td>
                <td>{{description}}</td>
                <td>{{price}}</td>


                <td class="d-flex justify-content-around"><a href="/admin/edit-services/{{_id}}"><i
                            class="far fa-edit"></i></a>
                    <form action="/admin/delete-service/{{_id}}?_method=DELETE" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button>Borrar</button>
                    </form>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>